<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Notes</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
     
<div class="book-covers">
    <h2>My Favorite Books</h2>
    <a id = "newPost" href = "/new">Add Book</a>
    <ul id = "book-list">
  <% books.forEach(function(book) { %>
    <div class="book">
      <li>
      <h3><%= book.title %></h3>
      <p><strong>Author:</strong> <%= book.author %></p>
      <p><strong>ISBN: </strong><%= book.isbn %> </p>
      <p><strong>Review: </strong><%= book.content%></p>
      <img 
        src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg?default=false" 
        alt="Cover for <%= book.title %>" 
        style="width:150px;"/>
      <h2><"Rating: " <%= book.rating %></h2>

      <a class="edit" href="/edit/<%= book.id %>">Edit</a>
      <a class="delete" href="/delete/<%= book.id %>">Delete</a>
      </li>
       <% }) %>
      </ul>

    </div>
 
